page-about {
    .masters {
        background-color: gray;
      }
      .manha {
        background-color: lightblue;
      }
      .tarde {
        background-color: #fd9616;
      }
      .noite {
        background-color: #171616;
      }
      .titulo {
        margin-inline-start: 100px;
      }
}
