page-stand-up {
    .tempo1-seta1 {
        padding: 55px;
        padding-right: 2px;
    }

    .tempo1-numero {
        padding: 50px;
    }

    .tempo1-seta2 {
        padding: 10px;
        padding-right: 10px;
    }

    .tempo1-seta3 {
        padding: 10px;
        padding-right: 18px;
    }

    .tempo1-seta4 {
        padding: 10px;
        padding-right: 15px;
    }

    .tempo1-seta5 {
        padding: 10px;
    }

}